body section {
    padding: 0 40px;
} 

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 0.5em 1em;
    flex-direction: row;
}

footer {
    background-color: aquamarine;
    padding: 0.5em 1em;
}


.logo {
    width: 50px;
    justify-content: flex-start;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav li {
    list-style: none;
    padding: 10px;
}

.section1 {
    display: flex;
    padding-top: 50px;
    align-items: center;
}
.section2 {
    display: flex;
    align-items: center;
}

.section3 {
    display: flex;
    align-items: center;
}

.illu {
    background-size: contain;
    width: 250px;
    height: 150px;
    border-radius: 5%;
    padding: 10px;
}